body {
    font-family: Arial, sans-serif;
    background-color: beige;
    text-align: center;
    padding: 5%;
}
.container {
    background: rgb(187, 207, 247);
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}
.title {
    color: #807f7f;
    font-size: 2rem;
}
.message {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
#wishButton {
    background: #013865;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.wish-text {
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}
.photo-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.photo-gallery img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}
.photo-gallery button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
@media (max-width: 600px) {
    .container {
        padding: 5%;
        max-width: 90%;
    }
    .title {
        font-size: 1.5rem;
    }
    .message {
        font-size: 1rem;
    }
    #wishButton {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    .wish-text {
        font-size: 1rem;
    }
    .photo-gallery img {
        width: 100%;
        max-width: 90%;
    }
    .photo-gallery button {
        font-size: 1.5rem;
    }
}